.user {
  display: flex;
  color: rgb(93, 144, 127);
}

.user_semi{
    color: rgb(175, 140, 90);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.command {
  color: rgb(70, 94, 86);
  word-wrap: break-word;
  max-width: 86%;
}

.warn{
  color: rgb(156, 60, 28)
}

.run{
  color: rgb(152, 143, 95);
}

.information{
  color: rgb(61, 166, 87);
  width: 75%;
}

.information > ul{
  max-width: 100%
}

.information > ul > li:not(:last-child){
  margin-bottom: 0.5rem;
}